.documentation {
    padding: $space-20;
    
    .title-documentation {
        padding-bottom: $space-20;

        p {
            @include text("14");
            color: $black;
        }
    }

    .content-instalation {
        padding-left: $space-16;
        h3 {
            color: $black;
        }
        li {
            @include text("14");
            color: $black;

            pre {
                @include text("14");
                color: $black;
            }

            .code-snippet {
                padding: $space-12 0;
            }
        }
    }

    .content-documentation {
        display: grid;
        border: 1px solid $neutral-100;
        border-radius: $size-8;
        padding: $space-16;

        .content-component {
            border-bottom: 1px solid $neutral-100;
            // padding: $space-16 0 $space-24;
            padding-bottom: $space-16;
        }
    }
}