.dropdown-menu {
    user-select: none;
    &__toggle {
        padding: $space-8;
        border-radius: $size-8;
        display: flex;
        align-items: center;
        gap: $space-12;
        align-items: center;
        transition: background-color 300ms ease;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        color: $neutral-400;

        .toggle__titles-wrapper{
            display: inherit;
            gap: inherit;

            .icon {
                color: inherit;
                font-size: $size-20;
                line-height: $size-20;
                &_default {
                    display: block;
                }
                &_active {
                    display: none;
                }
            }
            p, a {
                @include text("13", $medium);
                color: inherit;
            }
        }

        
        &::after {
            transform: rotate(0deg);
            transition: transform 0.15s linear;
            appearance: none;
            @extend .#{$ic-css-prefix};
            content: ic-content($ic-var-chevron-down-mini);
            align-items: center;
            justify-content: center;
            font-size: $size-20;
            z-index: 10;
            display: flex;
            top: 0;
            right: $space-8;
            height: 100%;
            color: inherit;
        }
    }
    &.active {
        .dropdown-menu__toggle {
            background-color: var(--#{$prefix}-primary);
            color: $white;

            .toggle__titles-wrapper{
                .icon {
                    &_default {
                        display: none;
                    }
                    &_active {
                        display: block;
                    }
                }
    
                p, a {
                    font-weight: $semibold;
                }
            }

           
        }
    }
    &:has(.dropdown-menu__item.active) {
        .dropdown-menu__toggle {
            color: var(--#{$prefix}-primary);

            p, a {
                font-weight: $semibold;
                color: inherit;
            }

            .icon {
                &_default {
                    display: none;
                }
                &_active {
                    display: block;
                }
            }
        }
    }
    &__items-wrapper {
        display: none;
        flex-direction: inherit;
        gap: $space-4;
        padding: $space-4 0 0 $space-24;
        overflow: hidden;
        width: 100%;
        transition: height 0.35s ease;
    
        .dropdown-menu__item {
            width: 100%;
            position: relative;
            list-style: none;
            a {
                display: block;
                padding: $space-8 $space-12;
                width: 100%;
                border-radius: $size-8;
                @include text("13", $regular);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &::before {
                content: url(./../../images/icons/menu-flow-middle.svg);
                position: absolute;
                width: 21px;
                overflow: visible;
                left: -8px;
            }

            &.active a {
                background: var(--#{$prefix}-primary);
                font-weight: $bold;
                color: $white;
            }

            &:last-child {
                &::before {
                    content: url(./../../images/icons/menu-flow-end.svg);
                }
            }
        }

        &.opening {
            overflow: hidden;
        }
    }
    
    &__toggle:hover, &__item a:hover {
        background-color: $neutral-100;
    }

    &.open {
        .dropdown-menu__toggle::after {
            transition: transform 0.35s linear;
            transform: rotate(180deg);
        }
        .dropdown-menu__items-wrapper {
            display: block;
            // height: 0;
        }
    }
}

.expand-enter-active, .expand-leave-active {
    overflow: hidden;
    transition: height 0.35s ease;
}