.handler {
    width: 100%;
    padding: #{$size-60 - $space-16} 0;
    display: flex;
    justify-content: center;

    @include media-up("sm") {
        padding: #{9rem - $space-16} 0;
    }

    @include media-up("md") {
        padding: #{5.625rem - $space-16} 0;
    }

    @include media-up("lg") {
        padding: #{5.625rem - $space-24} 0;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: $space-24 0;
        padding: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $space-8 0;

        h1, p {
            text-align: center;
        }

        h1 {
            @include text("16", $semibold);
            color: var(--#{$prefix}-neutral-500);

            @include media-up("lg") {
                @include text("20", $semibold);
            }
        }

        p {
            @include text("12");
            color: var(--#{$prefix}-neutral-400);

            @include media-up("lg") {
                @include text("16");
            }
        }
    }

    &__illustration {
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 240px;

        @include media-up("sm") {
            max-height: 280px;
        }
    
        @include media-up("lg") {
            max-height: 360px;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }


    &__action {
        display: flex;
        justify-content: center;
        gap: $space-16;

        .btn {
            padding: $size-10 $space-12;
            gap: $size-10;

            @include media-up("lg") {
                padding: $space-12 $space-20;
            }
        }
    }
}