.module {
    display: flex;
    flex-direction: column;
    gap: $space-16;

    @include media-down("sm") {
        gap: $space-12;
    }

    & &__item {
        display: flex;
        gap: $space-12;
        align-items: center;
        cursor: pointer;

        input {
            cursor: inherit;
            width: $size-20;
            height: $size-20;

            &:checked ~ .module__content h3 {
                color: var(--#{$prefix}-primary);
            }
        }
    }

    & &__icon-wrapper {
        width: $size-40;
        height: $size-40;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $size-1 solid var(--#{$prefix}-neutral-50);
        box-shadow: $outer-shadow-sm;
        border-radius: 50%;

        img {
            width: $size-20;
            height: $size-20;
            object-fit: cover;
        }
    }
    & &__content {
        padding: 0;
        text-overflow: ellipsis;
        h3 {
            @include text("13", $semibold);
            color: var(--#{$prefix}-neutral-500);
        }
        p {
            @include text("12");
            color: var(--#{$prefix}-neutral-300);
        }
    }

    hr {
        border: none;
        border-bottom: $size-1 solid var(--#{$prefix}-neutral-50);
    }
}