.nav-tabs {
    display: flex;
    list-style: none;
    white-space: nowrap;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid $neutral-100;

    &.nav-tabs_pills {
        gap: $space-8;
        padding: $space-16;
        .tab__item {
            border: 1px solid $neutral-100;
            border-radius: 50px;
            &.active {
                border: 1px solid var(--#{$prefix}-primary);
            }
        }
    }

    &.nav-tabs_center {
        justify-content: center;
    }

}

.nav-tabs::-webkit-scrollbar {
    height: $size-8;
}

.nav-tabs::-webkit-scrollbar-thumb {
    border-radius: $size-8;
}

.tab__item {
    display: flex;
    align-items: center;
    gap: $space-8;
    padding: $size-10 $space-12;
    width: fit-content;
    border-bottom: solid $size-2;
    border-color: transparent;
    cursor: pointer;
    color: $neutral-400;
    @include text("13");

    &:not(.disabled):hover {
        background-color: $neutral-50;
        color: $neutral-400;
        &.active {
            color: var(--#{$prefix}-primary);
        }
    }

    &.active {
        @include text("13", $medium);
        color: var(--#{$prefix}-primary);
        border-color: var(--#{$prefix}-primary);
        transition: color border-color 0.15s ease-in;
        transform: translateX(0);
    }

    &.disabled {
        cursor: default;
        opacity: 0.4;
    }

    &.large {
        @include text("14");
    }

    &.large.active {
        @include text("14", $semibold);
    }

    &.small {
        @include text("12");
    }

    &.small.active {
        @include text("12", $semibold);
    }
}

.tab-content {
    display: flex;
    width: 100%;
    height: fit-content;
    @include text("13");
    color: $neutral-400;

    .tab-pane {
        display: none;
        width: 100%;
        padding: 1rem 0;

        &.active {
            display: block;
        }
    }
}