
.form-control {
    // Control Position 
    .radio-button,.checkbox,.switch{
        padding-bottom: $size-12;
        display: flex;  
        @include media-down("md") {
            padding-bottom: $space-8;
        }
        &:last-of-type{
            padding-bottom: 0;
        }
    }
    .radio-button-inline,.checkbox-inline,.switch-inline{
        display: inline-flex;
        padding-right: $size-12;
        @include media-down("md") {
            padding-bottom: $space-8;
        }
        &:last-of-type{
            padding-right: 0;
        }
    }

    // Radio Button 
    .form-control__radio,.dropdown_filter .dropdown__radio {
        display: none;
        position: relative;
        
        &:hover:not([disabled]) + label::before {
            background: $white;
            border-color: var(--#{$prefix}-primary);
        }
        &:checked + label::before{
            border-color: $ocean-blue-400;
        }
        &:checked + label::after {
            content: '';
            width: $size-12;
            height: $size-12;
            min-width: $size-12;
            min-height: $size-12;
            max-width: $size-12;
            max-height: $size-12;
            background-color: $ocean-blue-400;
            position: absolute;
            border-radius: 50%;
            left: 4px;
            top: 4px;
            @include media-down("md") {
                width: $size-10;
                height: $size-10;
                min-width: $size-10;
                min-height: $size-10;
                max-width: $size-10;
                max-height: $size-10;
                left: 3px;
                top: 3px;
            }
        }

        &:checked:hover:not([disabled]) + label::after {
            border-color: var(--#{$prefix}-primary-400);
            background-color: var(--#{$prefix}-primary-500);
        }

        &:checked:disabled + label::before {
            background: $neutral-0;
            border: $size-1 solid $ocean-blue-200;
        }
        &:checked:disabled + label::after {
            background-color: $ocean-blue-200;
        }

        &:disabled:not([checked]) + label::before {
            background: $neutral-50;
            border: $size-1 solid $neutral-100;
        }
        &:disabled + label::after,
        &:disabled + label {
            cursor: default;
            color: $neutral-200;
        }
    }

    .form-control__label-radio {
        @include text("13");
        cursor: pointer;
        padding-left: 1.75rem;
        position: relative;
        color: $neutral-500;
        line-height: 20px;
        @include media-down("md") {
            @include text("12");
            line-height: 16px;
            padding-left: 1.5rem;
        }
        &::before {
            content: '';
            position: absolute;
            width: $size-20;
            height: $size-20;
            min-width: $size-20;
            min-height: $size-20;
            max-width: $size-20;
            max-height: $size-20;
            background-color: $white;
            border: $size-1 solid $neutral-100;
            border-radius: 50%;
            top: 0;
            left: 0;
            transition: all 0.15s ease;
            @include media-down("md") {
                width: $size-16;
                height: $size-16;
                min-width: $size-16;
                min-height: $size-16;
                max-width: $size-16;
                max-height: $size-16;
            }
        }

        &.label-radio_disabled {
            color: $neutral-200;
            pointer-events: none;
            cursor: default;
        }
    }

    // Checkbox
    @at-root input[type="checkbox"], 
    .form-control__checkbox {
        cursor: pointer;
        width: $size-20;
        height: $size-20;
        min-width: $size-20;
        min-height: $size-20;
        max-width: $size-20;
        max-height: $size-20;
        padding: 0;
        margin: 0;
        position: relative;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: $size-1 solid $neutral-100;
        appearance: none;
        border-radius: $size-6;
        transition: all 0.15s ease;
        @include media-down("md") {
            width: $size-16;
            height: $size-16;
            min-width: $size-16;
            min-height: $size-16;
            max-width: $size-16;
            max-height: $size-16;
            border-radius: $size-4;
        }
        &:hover:not([disabled]) {
            border-color: var(--#{$prefix}-primary);
        }

        &:active {
            background-color: $ocean-blue-400;
        }

        &:checked {
            background-color: var(--#{$prefix}-primary);
            border-color: var(--#{$prefix}-primary);
        }

        &:checked[type="checkbox"] {
            background-size: 0.625rem 0.625rem;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00LjYyNTIxIDcuMzE1OEw5LjkyMTggMC4zODIwOTNDMTAuMjQ3NyAtMC4wNDQ1OTg0IDEwLjg1NzkgLTAuMTI2MjcgMTEuMjg0NiAwLjE5OTY3NUMxMS43MTEzIDAuNTI1NjIgMTEuNzkyOSAxLjEzNTc1IDExLjQ2NyAxLjU2MjQ0TDUuNTI1NjUgOS4zNDAxOUM1LjE3OTE2IDkuNzkzNzcgNC41MTgzIDkuODUyNjggNC4wOTcwNCA5LjQ2NzUzTDAuMzE2MTkzIDYuMDEwNzZDLTAuMDgwMDg0MyA1LjY0ODQ1IC0wLjEwNzYyIDUuMDMzNDkgMC4yNTQ2OTEgNC42MzcyMUMwLjYxNzAwMyA0LjI0MDk0IDEuMjMxOTYgNC4yMTM0IDEuNjI4MjQgNC41NzU3MUw0LjYyNTIxIDcuMzE1OFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
            @include media-down("md") {
                background-size: 0.5rem 0.5rem;  
            }
        }

        &:checked:hover:not([disabled]) {
            background-color: var(--#{$prefix}-primary-500);
            border-color: var(--#{$prefix}-primary-500);
        }

        &:disabled {
            pointer-events: none;
            filter: none;
            background-color: $ocean-blue-200;
            background-repeat: no-repeat;
            background-position: center;
            border-color: $ocean-blue-200;
            // opacity: 0.7;
        }

        &:checked:disabled {
            background-color: $ocean-blue-200;
            border: none;
        }

        &:disabled:not([checked]) {
            background: $neutral-50;
            border: $size-1 solid $neutral-100;
        }
    }
    .form-control__label-checkbox {
        @include text("13");
        cursor: pointer;
        padding-left: 0.5rem;
        position: relative;
        color: $neutral-500;
        line-height: 20px;
        @include media-down("md") {
            @include text("12");
            line-height: 16px;
            padding-left: 0.5rem;
        }
        &.label-checkbox_disabled {
            color: $neutral-200;
            pointer-events: none;
            cursor: default;
        }
    }

    // Switch 
    .form-control__switch {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 0;
        width: 0;
        visibility: hidden;
        z-index: 2;

        &:hover:not([disabled]) + label {
            cursor: pointer;
        }

        &:hover:not([disabled]) + label::before {
            background-color: $neutral-200;
            transition: 300ms;
        }
        &:active:not([disabled]) + label::after {
            transition: width 300ms ease-in-out;
            width: $size-24;
        }
        &:checked + label .checkMark{
            opacity: 1;
            transition: opacity 300ms ease-in-out;
        }
        &:disabled:checked + label .checkMark svg path {
            fill: var(--#{$prefix}-primary-200);
        }
        &:checked + label::after {
            left: 2.625rem;
            transform: translateX(-100%);
        }

        &:checked + label::before {
            background: var(--#{$prefix}-primary-400);
        }
        
        &:hover:checked:not([disabled]) + label::before {
            background: var(--#{$prefix}-primary-500);
        }
        
        &:disabled + label::before {
            background: $neutral-50;
        }

        &:disabled:checked + label::before {
            background: var(--#{$prefix}-primary-200);
        }
    }

    .form-control__checkbox:not([disabled]) + label,
    .form-control__radio:not([disabled]) + label,
    .dropdown_filter .dropdown__radio:not([disabled]) + label {
        cursor: pointer;
    }

    .form-control__label-switch {
        @include text("13");
        min-width: 2.75rem;
        line-height: $size-24;
        width: fit-content;
        height: $size-24;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        position: relative;
        transition: all 0.25s ease;

        &::before {
            content: "";
            display: block;
            width: $size-44;
            height: $size-24;
            border-radius: 3.125rem;
            background: $neutral-100;
        }

        &::after {
            content: url("");
            position: absolute;
            top: $size-2;
            left: $size-2;
            width: $size-20;
            height: $size-20;
            background: $white;
            border-radius: 6.25rem;
            transition: 0.25s;
            box-shadow: $outer-shadow-lg;
        }

        &.label-switch_disabled {
            color: $neutral-200;
            pointer-events: none;
            cursor: default;
        }
        .checkMark{
            width: 16px;
            left: 25px;
            top: 4px;
            position: absolute;
            z-index: 2;
            opacity: 0;
            svg{
                path{
                    fill: var(--#{$prefix}-primary-400);
                }
            }
        }
    }
}
